################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/10182/Database1.mdf
/10182/App_Data
/10182/Database1_log.ldf
